In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from scipy import stats
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, cohen_kappa_score
from imblearn.under_sampling import RandomUnderSampler
import pickle
import yaml
import seaborn as sns

In [37]:
with open("../params.yaml", "r") as file:
    config = yaml.safe_load(file)

# Predict if the offer will be accepted or not

In [38]:
# data=pd.read_csv((config['data']['CLEAN']+'final_data.csv'))
# data

In [39]:
data=pd.read_csv('../data/CLEAN/final_data.csv')
data

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,17996,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50,136.0,65.0,71.0
17996,17997,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50,984.0,940.0,943.0
17997,17998,No,Cash Back,Letter,High,1,No,Low,2,1,4,No,1087.25,918.0,767.0,1170.0
17998,17999,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25,626.0,983.0,865.0
17999,18000,No,Cash Back,Letter,Low,2,No,Medium,2,1,3,No,1056.00,265.0,1378.0,1978.0

In [40]:
data.isna().sum()

Customer Number         0
Offer Accepted          0
Reward                  0
Mailer Type             0
Income Level            0
# Bank Accounts Open    0
Overdraft Protection    0
Credit Rating           0
# Credit Cards Held     0
# Homes Owned           0
Household Size          0
Own Your Home           0
Average Balance         0
Q1 Balance              0
Q2 Balance              0
Q3 Balance              0
dtype: int64

In [41]:
mean_value_Q2=data['Q2 Balance'].mean()
data['Q2 Balance'].fillna(value=mean_value_Q2, inplace=True)

mean_value_Q3=data['Q3 Balance'].mean()
data['Q3 Balance'].fillna(value=mean_value_Q3, inplace=True)

mean_value_average=data['Average Balance'].mean()
data['Average Balance'].fillna(value=mean_value_average, inplace=True)

In [42]:
data.isna().sum()

Customer Number         0
Offer Accepted          0
Reward                  0
Mailer Type             0
Income Level            0
# Bank Accounts Open    0
Overdraft Protection    0
Credit Rating           0
# Credit Cards Held     0
# Homes Owned           0
Household Size          0
Own Your Home           0
Average Balance         0
Q1 Balance              0
Q2 Balance              0
Q3 Balance              0
dtype: int64

In [43]:
numerical_columns=data.select_dtypes(exclude='object')
categorical_columns=data.select_dtypes(include='object')

In [44]:
categorical_columns

,Offer Accepted,Reward,Mailer Type,Income Level,Overdraft Protection,Credit Rating,Own Your Home
0,No,Air Miles,Letter,High,No,High,No
1,No,Air Miles,Letter,Medium,No,Medium,Yes
2,No,Air Miles,Postcard,High,No,Medium,Yes
3,No,Air Miles,Letter,Medium,No,High,No
4,No,Air Miles,Letter,Medium,No,Medium,Yes
...,...,...,...,...,...,...,...
17995,No,Cash Back,Letter,High,No,Low,Yes
17996,No,Cash Back,Letter,High,No,Low,Yes
17997,No,Cash Back,Letter,High,No,Low,No
17998,No,Cash Back,Letter,Medium,No,Medium,Yes
17999,No,Cash Back,Letter,Low,No,Medium,No

In [45]:
numerical_columns

,Customer Number,# Bank Accounts Open,# Credit Cards Held,# Homes Owned,Household Size,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance
0,1,1,2,1,4,1160.75,1669.0,877.0,1095.0
1,2,1,2,2,5,147.25,39.0,106.0,78.0
2,3,2,2,1,2,276.50,367.0,352.0,145.0
3,4,2,1,1,4,1219.00,1578.0,1760.0,1119.0
4,5,1,2,1,6,1211.00,2140.0,1357.0,982.0
...,...,...,...,...,...,...,...,...,...
17995,17996,1,1,1,5,167.50,136.0,65.0,71.0
17996,17997,1,3,1,3,850.50,984.0,940.0,943.0
17997,17998,1,2,1,4,1087.25,918.0,767.0,1170.0
17998,17999,1,4,2,2,1022.25,626.0,983.0,865.0
17999,18000,2,2,1,3,1056.00,265.0,1378.0,1978.0

In [46]:
categorical_columns.columns

Index(['Offer Accepted', 'Reward', 'Mailer Type', 'Income Level',
       'Overdraft Protection', 'Credit Rating', 'Own Your Home'],
      dtype='object')

In [47]:
categorical_columns['Reward'].unique()

array(['Air Miles', 'Cash Back', 'Points'], dtype=object)

In [48]:
categorical_columns

,Offer Accepted,Reward,Mailer Type,Income Level,Overdraft Protection,Credit Rating,Own Your Home
0,No,Air Miles,Letter,High,No,High,No
1,No,Air Miles,Letter,Medium,No,Medium,Yes
2,No,Air Miles,Postcard,High,No,Medium,Yes
3,No,Air Miles,Letter,Medium,No,High,No
4,No,Air Miles,Letter,Medium,No,Medium,Yes
...,...,...,...,...,...,...,...
17995,No,Cash Back,Letter,High,No,Low,Yes
17996,No,Cash Back,Letter,High,No,Low,Yes
17997,No,Cash Back,Letter,High,No,Low,No
17998,No,Cash Back,Letter,Medium,No,Medium,Yes
17999,No,Cash Back,Letter,Low,No,Medium,No

In [49]:
cat_encoded=pd.get_dummies(data=categorical_columns, drop_first=True)
cat_encoded

,Offer Accepted_Yes,Reward_Cash Back,Reward_Points,Mailer Type_Postcard,Income Level_Low,Income Level_Medium,Overdraft Protection_Yes,Credit Rating_Low,Credit Rating_Medium,Own Your Home_Yes
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,1,1
2,0,0,0,1,0,0,0,0,1,1
3,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...
17995,0,1,0,0,0,0,0,1,0,1
17996,0,1,0,0,0,0,0,1,0,1
17997,0,1,0,0,0,0,0,1,0,0
17998,0,1,0,0,0,1,0,0,1,1
17999,0,1,0,0,1,0,0,0,1,0

In [50]:
data_final=cat_encoded.join(numerical_columns)
data_final.drop('Customer Number', inplace=True, axis=1)

In [51]:
data_final

,Offer Accepted_Yes,Reward_Cash Back,Reward_Points,Mailer Type_Postcard,Income Level_Low,Income Level_Medium,Overdraft Protection_Yes,Credit Rating_Low,Credit Rating_Medium,Own Your Home_Yes,# Bank Accounts Open,# Credit Cards Held,# Homes Owned,Household Size,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance
0,0,0,0,0,0,0,0,0,0,0,1,2,1,4,1160.75,1669.0,877.0,1095.0
1,0,0,0,0,0,1,0,0,1,1,1,2,2,5,147.25,39.0,106.0,78.0
2,0,0,0,1,0,0,0,0,1,1,2,2,1,2,276.50,367.0,352.0,145.0
3,0,0,0,0,0,1,0,0,0,0,2,1,1,4,1219.00,1578.0,1760.0,1119.0
4,0,0,0,0,0,1,0,0,1,1,1,2,1,6,1211.00,2140.0,1357.0,982.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,0,1,0,0,0,0,0,1,0,1,1,1,1,5,167.50,136.0,65.0,71.0
17996,0,1,0,0,0,0,0,1,0,1,1,3,1,3,850.50,984.0,940.0,943.0
17997,0,1,0,0,0,0,0,1,0,0,1,2,1,4,1087.25,918.0,767.0,1170.0
17998,0,1,0,0,0,1,0,0,1,1,1,4,2,2,1022.25,626.0,983.0,865.0
17999,0,1,0,0,1,0,0,0,1,0,2,2,1,3,1056.00,265.0,1378.0,1978.0

In [52]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Offer Accepted_Yes        18000 non-null  uint8
 1   Reward_Cash Back          18000 non-null  uint8
 2   Reward_Points             18000 non-null  uint8
 3   Mailer Type_Postcard      18000 non-null  uint8
 4   Income Level_Low          18000 non-null  uint8
 5   Income Level_Medium       18000 non-null  uint8
 6   Overdraft Protection_Yes  18000 non-null  uint8
 7   Credit Rating_Low         18000 non-null  uint8
 8   Credit Rating_Medium      18000 non-null  uint8
 9   Own Your Home_Yes         18000 non-null  uint8
 10  # Bank Accounts Open      18000 non-null  int64
 11  # Credit Cards Held       18000 non-null  int64
 12  # Homes Owned             18000 non-null  int64
 13  Household Size            18000 non-null  int64
 14  Average Balance           18000 non-null  float64
 15  Q1 Balance                18000 non-null  float64
 16  Q2 Balance                18000 non-null  float64
 17  Q3 Balance                18000 non-null  float64
dtypes: float64(4), int64(4), uint8(10)
memory usage: 1.3 MB

In [53]:
X=data_final.drop('Offer Accepted_Yes', axis=1)
y=data_final['Offer Accepted_Yes']

In [54]:
# Split the data into a training set and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=config['train']['test_size'],random_state=config['train']['random_state'])

In [55]:
# Place all the columns in the same scale [0,1].
# Add the import of the MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)

# Save this scaled into scalers/ folder-. Check out the last Firday slides. "Pickle"

X_train_scaled_np = scaler.transform(X_train)
X_test_scaled_np  = scaler.transform(X_test)

X_train_scaled_df = pd.DataFrame(X_train_scaled_np, columns=X_train.columns, index=X_train.index)
X_test_scaled_df  = pd.DataFrame(X_test_scaled_np,  columns=X_test.columns,  index=X_test.index)

In [56]:
# Create an instance of the LogisticRegression class
model = LogisticRegression()

# Train the model on the input data and target variables
model.fit(X_train_scaled_df, y_train)

# Save this model into models/ folder. Check out the last Firday slides. "Pickle"

# Train prediction
Train_prediction=model.predict(X_train_scaled_df)
Train_prediction

# Test Prediction
Test_prediction=model.predict(X_test_scaled_df)
Test_prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [57]:
# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, Test_prediction)
print("Accuracy: ", round(accuracy,2))

Accuracy:  0.94

In [58]:
score = model.score(X_test_scaled_df, y_test)
print("Accuracy:", round(score,2))

Accuracy: 0.94

In [59]:
# Evaluate the accuracy of the model
accuracy = accuracy_score(y_train, Train_prediction)
print("Accuracy: ",  round(accuracy,2))

Accuracy:  0.94

In [60]:
kappa = cohen_kappa_score(y_test, Test_prediction)
kappa

0.0

In [61]:
y_test

2574     0
7496     0
9210     0
5456     0
736      0
        ..
9945     0
9236     0
14176    0
13889    0
17437    0
Name: Offer Accepted_Yes, Length: 3600, dtype: uint8

In [62]:
Test_prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [63]:
data_final.corr()[['Offer Accepted_Yes']].sort_values(by='Offer Accepted_Yes', ascending=True)

                          Offer Accepted_Yes
Reward_Cash Back                   -0.068692
Credit Rating_Medium               -0.034863
Income Level_Medium                -0.020271
Q1 Balance                         -0.016519
Household Size                     -0.012822
Average Balance                    -0.003887
Overdraft Protection_Yes           -0.002832
# Credit Cards Held                -0.002192
# Bank Accounts Open               -0.000843
# Homes Owned                      -0.000631
Q2 Balance                         -0.000340
Own Your Home_Yes                   0.000305
Reward_Points                       0.007354
Q3 Balance                          0.008334
Income Level_Low                    0.074732
Mailer Type_Postcard                0.097505
Credit Rating_Low                   0.150150
Offer Accepted_Yes                  1.000000

In [64]:
data_final.corr()

,Offer Accepted_Yes,Reward_Cash Back,Reward_Points,Mailer Type_Postcard,Income Level_Low,Income Level_Medium,Overdraft Protection_Yes,Credit Rating_Low,Credit Rating_Medium,Own Your Home_Yes,# Bank Accounts Open,# Credit Cards Held,# Homes Owned,Household Size,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance
Offer Accepted_Yes,1.000000,-0.068692,0.007354,0.097505,0.074732,-0.020271,-0.002832,0.150150,-0.034863,0.000305,-0.000843,-0.002192,-0.000631,-0.012822,-0.003887,-0.016519,-0.000340,0.008334
Reward_Cash Back,-0.068692,1.000000,-0.496193,-0.003888,-0.005392,-0.002318,0.000491,0.005176,-0.002587,-0.009708,0.018356,0.003683,0.001803,0.009115,0.006677,0.005449,0.006340,0.000707
Reward_Points,0.007354,-0.496193,1.000000,-0.003193,-0.004414,0.003712,-0.008214,-0.002463,0.008843,0.007877,-0.002331,-0.007974,-0.007592,-0.007146,-0.010701,-0.009612,-0.007873,-0.005472
Mailer Type_Postcard,0.097505,-0.003888,-0.003193,1.000000,-0.006932,0.001088,0.002851,0.003271,-0.005610,-0.004346,-0.000611,0.011529,-0.008297,-0.001083,0.002155,-0.005802,-0.004569,0.001043
Income Level_Low,0.074732,-0.005392,-0.004414,-0.006932,1.000000,-0.574844,0.003364,-0.009665,-0.000290,0.005791,-0.016347,-0.001859,-0.000170,-0.003729,-0.004669,-0.001529,0.005583,-0.001651
Income Level_Medium,-0.020271,-0.002318,0.003712,0.001088,-0.574844,1.000000,0.004079,0.000755,0.004882,0.004205,0.010741,0.001639,0.001652,0.003791,0.001088,-0.007328,-0.002595,0.005982
Overdraft Protection_Yes,-0.002832,0.000491,-0.008214,0.002851,0.003364,0.004079,1.000000,-0.001748,0.008123,0.008168,-0.009242,-0.013628,-0.004685,0.001896,0.001932,-0.008301,0.011570,0.001914
Credit Rating_Low,0.150150,0.005176,-0.002463,0.003271,-0.009665,0.000755,-0.001748,1.000000,-0.495575,-0.006464,0.014326,0.000274,0.004719,0.009974,-0.000361,-0.002584,0.012915,0.006573
Credit Rating_Medium,-0.034863,-0.002587,0.008843,-0.005610,-0.000290,0.004882,0.008123,-0.495575,1.000000,0.006947,-0.005370,0.007150,-0.011036,-0.007239,-0.007572,-0.024138,-0.018081,0.000614
Own Your Home_Yes,0.000305,-0.009708,0.007877,-0.004346,0.005791,0.004205,0.008168,-0.006464,0.006947,1.000000,0.008100,0.002730,0.004315,-0.013829,0.011596,-0.000547,0.006563,0.009903
# Bank Accounts Open,-0.000843,0.018356,-0.002331,-0.000611,-0.016347,0.010741,-0.009242,0.014326,-0.005370,0.008100,1.000000,-0.001728,0.004772,0.008479,-0.003915,-0.002812,-0.007969,0.000166
# Credit Cards Held,-0.002192,0.003683,-0.007974,0.011529,-0.001859,0.001639,-0.013628,0.000274,0.007150,0.002730,-0.001728,1.000000,-0.002547,-0.003074,-0.003475,-0.009440,-0.007386,-0.007641
# Homes Owned,-0.000631,0.001803,-0.007592,-0.008297,-0.000170,0.001652,-0.004685,0.004719,-0.011036,0.004315,0.004772,-0.002547,1.000000,0.005304,0.017980,0.013138,0.009801,0.007829
Household Size,-0.012822,0.009115,-0.007146,-0.001083,-0.003729,0.003791,0.001896,0.009974,-0.007239,-0.013829,0.008479,-0.003074,0.005304,1.000000,-0.003577,-0.005078,-0.008753,0.003643
Average Balance,-0.003887,0.006677,-0.010701,0.002155,-0.004669,0.001088,0.001932,-0.000361,-0.007572,0.011596,-0.003915,-0.003475,0.017980,-0.003577,1.000000,0.481505,0.800283,0.752736
Q1 Balance,-0.016519,0.005449,-0.009612,-0.005802,-0.001529,-0.007328,-0.008301,-0.002584,-0.024138,-0.000547,-0.002812,-0.009440,0.013138,-0.005078,0.481505,1.000000,0.483122,-0.060958
Q2 Balance,-0.000340,0.006340,-0.007873,-0.004569,0.005583,-0.002595,0.011570,0.012915,-0.018081,0.006563,-0.007969,-0.007386,0.009801,-0.008753,0.800283,0.483122,1.000000,0.487741
Q3 Balance,0.008334,0.000707,-0.005472,0.001043,-0.001651,0.005982,0.001914,0.006573,0.000614,0.009903,0.000166,-0.007641,0.007829,0.003643,0.752736,-0.060958,0.487741,1.000000

In [65]:
data

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,17996,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50,136.0,65.0,71.0
17996,17997,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50,984.0,940.0,943.0
17997,17998,No,Cash Back,Letter,High,1,No,Low,2,1,4,No,1087.25,918.0,767.0,1170.0
17998,17999,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25,626.0,983.0,865.0
17999,18000,No,Cash Back,Letter,Low,2,No,Medium,2,1,3,No,1056.00,265.0,1378.0,1978.0

# Kappa regularization

In [66]:
# Split the data into features (X) and target (y)
X1=data_final.drop('Offer Accepted_Yes', axis=1)
y1=data_final['Offer Accepted_Yes']

# Split the data into training and testing sets
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=config['train']['test_size'],random_state=config['train']['random_state'])


# Place all the columns in the same scale [0,1].
# Add the import of the MinMaxScaler
scaler1 = MinMaxScaler()
scaler1.fit(X1_train)

# Save this scaled into scalers/ folder-. Check out the last Firday slides. "Pickle"

X_train_scaled_np_1 = scaler1.transform(X1_train)
X_test_scaled_np_1  = scaler1.transform(X1_test)

X_train_scaled_df = pd.DataFrame(X_train_scaled_np_1, columns=X1_train.columns, index=X_train.index)
X_test_scaled_df  = pd.DataFrame(X_test_scaled_np_1,  columns=X1_test.columns,  index=X_test.index)

# Perform undersampling on the training data
rus1 = RandomUnderSampler()
X1_resampled, y1_resampled = rus1.fit_resample(X1_train, y1_train)

In [67]:
# Train the model on the resampled data
classifier1 = LogisticRegression(solver='saga', max_iter=350)
classifier1.fit(X1_resampled, y1_resampled)

# Make predictions on the test data
y_pred1 = classifier1.predict(X1_test)

# Evaluate the model using accuracy, precision, recall, F1 score, and kappa score
acc = accuracy_score(y1_test, y_pred1)
prec = precision_score(y1_test, y_pred1)
rec = recall_score(y_test, y_pred1)
f1 = f1_score(y1_test, y_pred1)
kappa = cohen_kappa_score(y1_test, y_pred1)

C:\Users\Elohome\anaconda3\envs\Mid_project\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [68]:
print("Accuracy:", round(acc, 2))
print("Precision:", round(prec, 2))
print("Recall:", round(rec, 2))
print("F1 Score:", round(f1, 2))
print("Kappa Score:", round(kappa, 2))

Accuracy: 0.58
Precision: 0.06
Recall: 0.43
F1 Score: 0.11
Kappa Score: 0.01

In [69]:
# Serialize the model object
with open(config['models']+"LogisticRegressionModel.pkl", "wb") as file:
    pickle.dump(model, file)

In [70]:
# Serialize the model object
# Serialize the model object
with open(config['scalers']+"MinMaxScaler.pkl", "wb") as file:
    pickle.dump(scaler, file)